<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="NONE,NOARCHIVE" />
    <title>Convert IGC to KMZ</title>
    <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap.min.css"/>
</head>
<body>
  <div class="wrapper">
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="container">
        <span>
            <a class='navbar-brand' rel="nofollow" href='#'>
                Convert IGC to KMZ
            </a>
        </span>
      </div>
    </div>
    <div class="container">
      <!-- Content -->
      <div id="content">
          <form action="." method="POST" class="form-horizontal" enctype="multipart/form-data">
              <div class="form-group ">
                  <label class="col-sm-2 control-label ">
                      Track
                  </label>
                  <div class="col-sm-10">
                      <input name="track" type="file">
                  </div>
              </div>
              <div class="form-actions">
                  <input type="submit" class="btn btn-primary">
              </div>
        </form>
      </div><!-- /.content -->
    </div><!-- /.container -->
  </div><!-- ./wrapper -->
</body>
</html>
